body{
    background-color: rgb(126, 101, 78);
}
h1{
    background-color: rgba(255, 127, 80, 0.527);
    font-family: "Bebas Neue", sans-serif; 
    font-size: 500;
    font-weight: 500;
    font-style: normal;
    color: rgb(104, 148, 184);
}

h2{
    color: rgba(0, 0, 139, 0.568);
}